# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

In [5]:
pip install --upgrade pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 23.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [3]:
!curl ifconfig.me

34.73.42.65

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [6]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://ghesmorieddor:admin@cluster0.v8trd.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [11]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data
employees = [
    {'name': 'Aldo', 'department': 'IT', 'age': 23, 'salary': 5000},
    {'name': 'Clarisa', 'department': 'HR', 'age': 29, 'salary': 6000},
    {'name': 'Dina', 'department': 'Marketing', 'age': 32, 'salary': 4000},
    {'name': 'Edo', 'department': 'Sales', 'age': 26, 'salary': 3000}
]

# Insert multiple data
insert_result = collection.insert_many(employees)
print(f'Data inserted: {insert_result.inserted_ids}')

# Contoh Update Data
# Update salary Bob menjadi 6500
update_result = collection.update_one(
    {'name': 'Aldo'},
    {'$set': {'salary': 6500}}
)
print(f'Matched documents for update: {update_result.matched_count}, Modified documents: {update_result.modified_count}')

# Contoh Delete Data
# Menghapus data Clarisa
delete_result = collection.delete_one({'name': 'Clarisa'})
print(f'Deleted documents: {delete_result.deleted_count}')

# Menampilkan semua data untuk memastikan perubahan
all_employees = list(collection.find())
print('All employees:')
for employee in all_employees:
    print(employee)

Data inserted
Data inserted: [ObjectId('672a35b9fc71bdde95f2ed7e'), ObjectId('672a35b9fc71bdde95f2ed7f'), ObjectId('672a35b9fc71bdde95f2ed80'), ObjectId('672a35b9fc71bdde95f2ed81')]
Matched documents for update: 1, Modified documents: 1
Deleted documents: 1
All employees:
{'_id': ObjectId('672a35b9fc71bdde95f2ed7d'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a35b9fc71bdde95f2ed7e'), 'name': 'Aldo', 'department': 'IT', 'age': 23, 'salary': 6500}
{'_id': ObjectId('672a35b9fc71bdde95f2ed80'), 'name': 'Dina', 'department': 'Marketing', 'age': 32, 'salary': 4000}
{'_id': ObjectId('672a35b9fc71bdde95f2ed81'), 'name': 'Edo', 'department': 'Sales', 'age': 26, 'salary': 3000}

In [12]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672a35b9fc71bdde95f2ed7d'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672a35b9fc71bdde95f2ed7e'), 'name': 'Aldo', 'department': 'IT', 'age': 23, 'salary': 6500}
{'_id': ObjectId('672a35b9fc71bdde95f2ed80'), 'name': 'Dina', 'department': 'Marketing', 'age': 32, 'salary': 4000}
{'_id': ObjectId('672a35b9fc71bdde95f2ed81'), 'name': 'Edo', 'department': 'Sales', 'age': 26, 'salary': 3000}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 6500.0}
{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'Marketing', 'average_salary': 4000.0}
{'_id': 'Sales', 'average_salary': 3000.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [8]:
# Latihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).

from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb+srv://ghesmorieddor:admin@cluster0.v8trd.mongodb.net/")
db = client["toko_baju"]
products_collection = db["products"]

# Data produk
products_data = [
    {"name": "Kaos Polos", "price": 50000, "category": "Atasan"},
    {"name": "Kemeja Formal", "price": 150000, "category": "Atasan"},
    {"name": "Jaket Jeans", "price": 250000, "category": "Outer"},
    {"name": "Celana Jeans", "price": 200000, "category": "Bawahan"},
    {"name": "Celana Pendek", "price": 75000, "category": "Bawahan"},
    {"name": "Rok Mini", "price": 90000, "category": "Bawahan"},
    {"name": "Sweater Rajut", "price": 180000, "category": "Outer"},
    {"name": "Blazer", "price": 220000, "category": "Outer"},
    {"name": "Kaos Kaki", "price": 20000, "category": "Aksesoris"},
    {"name": "Topi Baseball", "price": 50000, "category": "Aksesoris"}
]

# Masukkan data produk ke dalam koleksi 'products'
products_collection.insert_many(products_data)
print("Data produk berhasil dimasukkan.")

# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
# Menghitung rata-rata harga
average_price = products_collection.aggregate([
    {"$group": {"_id": None, "average_price": {"$avg": "$price"}}}
]).next()["average_price"]

# Menemukan produk dengan harga di atas rata-rata
above_average_products = products_collection.find({"price": {"$gt": average_price}})

print(f"Harga rata-rata: {average_price}")
print("Produk dengan harga di atas rata-rata:")
for product in above_average_products:
    print(product)

# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
# Aggregation pipeline untuk menghitung total produk per kategori
category_counts = products_collection.aggregate([
    {"$group": {"_id": "$category", "total_products": {"$sum": 1}}}
])

print("Total produk dalam setiap kategori:")
for category in category_counts:
    print(f"Kategori: {category['_id']}, Jumlah Produk: {category['total_products']}")

Data produk berhasil dimasukkan.
Harga rata-rata: 128500.0
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('672a338ffc71bdde95f2ed74'), 'name': 'Kemeja Formal', 'price': 150000, 'category': 'Atasan'}
{'_id': ObjectId('672a338ffc71bdde95f2ed75'), 'name': 'Jaket Jeans', 'price': 250000, 'category': 'Outer'}
{'_id': ObjectId('672a338ffc71bdde95f2ed76'), 'name': 'Celana Jeans', 'price': 200000, 'category': 'Bawahan'}
{'_id': ObjectId('672a338ffc71bdde95f2ed79'), 'name': 'Sweater Rajut', 'price': 180000, 'category': 'Outer'}
{'_id': ObjectId('672a338ffc71bdde95f2ed7a'), 'name': 'Blazer', 'price': 220000, 'category': 'Outer'}
Total produk dalam setiap kategori:
Kategori: Atasan, Jumlah Produk: 2
Kategori: Outer, Jumlah Produk: 3
Kategori: Aksesoris, Jumlah Produk: 2
Kategori: Bawahan, Jumlah Produk: 3

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [13]:
# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
# Aggregation pipeline untuk menemukan 5 karyawan dengan gaji tertinggi dalam setiap departemen
top_salaries_per_department = collection.aggregate([
    {"$sort": {"department": 1, "salary": -1}},  # Sortir per departemen, gaji tertinggi
    {"$group": {
        "_id": "$department",
        "top_employees": {"$push": {"name": "$name", "salary": "$salary"}},
    }},
    {"$project": {
        "top_employees": {"$slice": ["$top_employees", 5]}  # Ambil 5 karyawan teratas
    }}
])

print("5 Karyawan dengan gaji tertinggi dalam setiap departemen:")
for dept in top_salaries_per_department:
    print(f"Departemen: {dept['_id']}")
    for emp in dept["top_employees"]:
        print(f"  Nama: {emp['name']}, Gaji: {emp['salary']}")

# Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
# Menghapus karyawan yang berusia di bawah 25 tahun
delete_result = collection.delete_many({"age": {"$lt": 25}})
print(f"Jumlah karyawan yang dihapus: {delete_result.deleted_count}")

# Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.
# Aggregation pipeline untuk total gaji dan rata-rata umur per departemen
salary_and_age_report = collection.aggregate([
    {"$group": {
        "_id": "$department",
        "total_salary": {"$sum": "$salary"},
        "average_age": {"$avg": "$age"}
    }}
])

print("Laporan total gaji dan rata-rata umur karyawan per departemen:")
for dept in salary_and_age_report:
    print(f"Departemen: {dept['_id']}, Total Gaji: {dept['total_salary']}, Rata-rata Umur: {dept['average_age']:.2f}")

5 Karyawan dengan gaji tertinggi dalam setiap departemen:
Departemen: Finance
  Nama: Alice, Gaji: 4500
Departemen: Sales
  Nama: Edo, Gaji: 3000
Departemen: IT
  Nama: Aldo, Gaji: 6500
Departemen: Marketing
  Nama: Dina, Gaji: 4000
Jumlah karyawan yang dihapus: 1
Laporan total gaji dan rata-rata umur karyawan per departemen:
Departemen: Marketing, Total Gaji: 4000, Rata-rata Umur: 32.00
Departemen: Sales, Total Gaji: 3000, Rata-rata Umur: 26.00
Departemen: Finance, Total Gaji: 4500, Rata-rata Umur: 29.00